<section class="sections">
  <nav class="sections-nav">
    <ul>
      <li><a class="show">World</a></li>
      <li><a class="show">San Francisco</a></li>
      <li><a class="show">New York</a></li>
      <li><a class="show">Bootcamp Prep</a></li>
      <li><a class="show">Jumpstart</a></li>
      <li><a class="show">Online</a></li>
      <li><a class="show">Marketing</a></li>
      <li><a class="show">Sales</a></li>
      <li><a class="show">TalentMatch</a></li>
      <li><a class="show">Alumni</a></li>
      <li><a>All</a></li>
    </ul>
  </nav>
</section>
